.services-container,
.testimonial-container,
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-container {
    padding: 1em;
}

.services-container > * + * {
    margin: 2em 0 0 0;
}

.testimonial-container > * + * {
    margin: 2em 0 0 0;
}

.footer-container > * + * {
    margin: 2em 0 0 0;
}

@media (min-width: 1200px) {

    .services-container,
    .testimonial-container {
      flex-direction: row;
      padding-top: 10%;
      padding-bottom: 5%;
    }

    .footer-container {
        flex-direction: row;
    }
  
    .services-container > * + * {
      margin: 0 0 0 7em;
    }

    .testimonial-container > * + * {
        margin: 0 0 0 7em;
      }

    .footer-container > * + * {
        margin: 0 0 0 7em;
    }
}

.card {
    width: 300px;
    height: 450px;
    
    box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.62);
    -webkit-box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.62);
    overflow: hidden;
    border-radius: 5px;
}

.card p {
    color: hsl(0, 0%, 80%);
    line-height: 1.5;
    font-family: 'Urbanist', sans-serif;
    width: 25ch;
    margin: 0 auto;
}

.card h2 {
    font-size: 1.5rem;
    font-family: 'Urbanist', sans-serif;
    color: hsl(0, 0%, 90%);
}

.card-btn {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-family: 'Urbanist', sans-serif;
}

.card-btn a {
    text-decoration: none;
    color: hsl(120, 84%, 24%);
}

.testimonial-card {
    width: 300px;
    height: 360px;
    padding: 0.5em;
    
    box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.62);
    -webkit-box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.62);
    overflow: hidden;
    border-radius: 5px;
}

.testimonial-card h3 {
    color: hsl(120, 84%, 24%);
    font-size: 1.3rem;
    padding: 0.5em 0 0 0;
}

.testimonial-card p {
    line-height: 1.5;
    font-family: 'Urbanist', sans-serif;
    color: hsl(0, 0%, 80%);
}

.footer-content ul {
    list-style: none;
}

.footer-links li {
    padding-top: 0.5em;
}

.footer-content a {
    text-decoration: none;
}

.footer-links a {
    color: hsl(0, 0%, 10%);
}

.footer-links a:hover {
    color: hsl(0, 0%, 40%);
}

.service-areas li {
    line-height: 1.4;
}
