@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

:root {
    --primary-header-color: hsl(0, 0%, 90%);
    --secondary-header-color: hsl(120, 81%, 21%);
    --tertiary-header-color: hsl(120, 81%, 21%);
    --primary-header-font-size: 3rem;
    --secondary-header-font-size: 2.2rem;
    --tertiary-header-font-size: 2rem;
    --primary-header-font-size-mobile: 2rem;
    --text-font-family: 'Urbanist', sans-serif;
    --text-color: hsl(0, 0%, 0%);
    --text-color-secondary: hsl(0, 0%, 90%);
    --button-color: hsl(120, 84%, 24%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.logo img {
    height: 85px;
    padding-left: 0.3em;
}

@media screen and (max-width: 650px) {
    .logo img {
        height: 70px;
        width: 200px;
    }
}


.hero-section {
    display: grid;
    place-content: center;
    min-height: 90vh;
    background: linear-gradient(rgba(1, 3, 10, 0.8), rgba(1, 3, 10, 0.8)), url(../img/heroImage.jpg);
    background-size: cover;
    color: var(--primary-header-color);
}

.hero-section2 {
    display: grid;
    place-content: center;
    min-height: 90vh;
    background: linear-gradient(rgba(1, 3, 10, 0.8), rgba(1, 3, 10, 0.8)), url(../img/parallaxTree6.jpg);
    background-size: cover;
    color: var(--primary-header-color);
}

.hero-section3 {
    display: grid;
    place-content: center;
    min-height: 90vh;
    background: linear-gradient(rgba(1, 3, 10, 0.8), rgba(1, 3, 10, 0.8)), url(../img/parallaxTree6.jpg);
    background-size: cover;
    color: var(--primary-header-color);
}

.hero-section4 {
    display: grid;
    place-content: center;
    min-height: 90vh;
    background: linear-gradient(rgba(1, 3, 10, 0.8), rgba(1, 3, 10, 0.8)), url(../img/parallaxTree9.jpg);
    background-size: cover;
    color: var(--primary-header-color);
}

.hero-section, .hero-section2, .hero-section3, .hero-section4 :is(h1) {
    padding: 0.5em;
    font-size: var(--primary-header-font-size);
    color: var(--primary-header-color);
}

:is(.hero-section, .hero-section2, .hero-section3, .hero-section4) p {
    margin: 0 auto;
    padding: 0.3em;
    font-size: 1.4rem;
    font-family: var(--text-font-family);
    width: 45ch;
    line-height: 1.5;
    color: var(--text-color-secondary);
}

@media screen and (max-width: 650px) {
    .hero-section,
    .hero-section2,
    .hero-section3,
    .hero-section4 {
        min-height: 90vh;
    }

    .hero-section, .hero-section2, .hero-section3, .hero-section4 :is(h1) {
        font-size: var(--primary-header-font-size-mobile);
    }

    :is(.hero-section, .hero-section2, .hero-section3, .hero-section4) p {
        width: 100%;
    }
}

.hero-btn,
.hero-btn2,
.hero-btn3,
.hero-btn4 {
    display: flex;
    justify-content: center;
}

.insurance-info, .about, .services-wrapper, .testimonial-container, .gallery-wrapper, .contact-wrapper, .faq-wrapper :is(h2) {
    font-size: var(--secondary-header-font-size);
    text-align: center;
    color: var(--secondary-header-color);
}

.insurance-info h3,
.about h3 {
    padding: 1em 0;
    font-size: var(--tertiary-header-font-size);
    text-align: center;
}

:is(.insurance-info, .about) p {
    padding: 0.5em 1em;
    font-family: var(--text-font-family);
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.5;
}

.insurance-info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--text-font-family);
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.5;
}

@media screen and (min-width: 1280px) {
    .insurance-info div p,
    .about div p {
        width: 60ch;
        margin: 0 auto;
    }
}

:is(.hero-btn, .hero-btn2, .hero-btn3, .hero-btn4) a {
    color: var(--button-color);
    font-family: var(--text-font-family);
    text-decoration: none;
    font-size: 2rem;
}

.contact-wrapper {
    display: grid;
    place-content: center;
}

.contact-wrapper h2 {
    padding: 0.5em 0 0.5em 0;
}

.testimonial-wrapper h2 {
    padding-top: 0.5em;
}

.gallery-wrapper h2 {
    padding-bottom: 10%;
}

/*                            service cards section                                   */
.service-container h2 {
    font-size: var(--secondary-header-font-size);
    text-align: center;
    padding-bottom: 0.5em;
    color: var(--secondary-header-color);
}
.services-box {
    padding: 1em;
    background: linear-gradient(rgba(1, 3, 10, 0.8 ), rgba(1, 3, 10, 0.7)), url(../img/storm_damage_tree_removal.jpg);
}
.services-box2 {
    padding: 1em;
    background: linear-gradient(rgba(1, 3, 10, 0.8 ), rgba(1, 3, 10, 0.7)), url(../img/bucket_truck_tree_trimming_commercial.jpg);
}
.services-box3 {
    padding: 1em;
    background: linear-gradient(rgba(1, 3, 10, 0.8 ), rgba(1, 3, 10, 0.7)), url(../img/stump_removal.jpg);
}

.services-content p {
    font-family: var(--text-font-family);
    font-size: 1.15rem;
    line-height: 1.5;
}

.services-content a {
    color: hsl(120, 44%, 52%)
}

.services-box input[name="readmore"],
.services-box2 input[name="readmore2"],
.services-box3 input[name="readmore3"] {
    display: none;
}

.services-content-wrapper {
    padding: 1em;
    border: 2px solid var(--text-color-secondary);
}

.services-box .services-content,
.services-box2 .services-content,
.services-box3 .services-content {
    position: relative;
    text-align: justify;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    max-height: 150px;
    color: var(--text-color-secondary);
}

.services-box .services-content::before,
.services-box2 .services-content::before,
.services-box3 .services-content::before {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    transition: 0.5s ease-in-out;
    content: '';

}

.services-box .button,
.services-box2 .button,
.services-box3 .button {
    margin-top: 30px;
    text-align: center;
}

.services-box label,
.services-box2 label,
.services-box3 label {
    display: inline-block;
    position: relative;
    width: 140px;
    height: 50px;
    font-family: var(--text-font-family);
    text-align: center;
    background-color: var(--button-color);
    color: var(--text-color-secondary);
    cursor: pointer;
}

.services-box label::before,
.services-box2 label::before,
.services-box3 label::before {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-more);
}

.services-box input[name="readmore"]:checked ~ .services-content-wrapper label::before,
.services-box2 input[name="readmore2"]:checked ~ .services-content-wrapper label::before,
.services-box3 input[name="readmore3"]:checked ~ .services-content-wrapper label::before {
    content: attr(data-less);
}

.services-box input[name="readmore"]:checked ~ .services-content-wrapper .services-content,
.services-box2 input[name="readmore2"]:checked ~ .services-content-wrapper .services-content,
.services-box3 input[name="readmore3"]:checked ~ .services-content-wrapper .services-content {
    max-height: 300px;
}

.services-box input[name="readmore"]:checked ~ .services-content-wrapper .services-content::before,
.services-box2 input[name="readmore2"]:checked ~ .services-content-wrapper .services-content::before,
.services-box3 input[name="readmore3"]:checked ~ .services-content-wrapper .services-content::before {
    height: 300px;
}
