@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.logo img {
    height: 85px;
    padding-left: 0.3em;
}

@media screen and (max-width: 650px) {
    .logo img {
        height: 70px;
        width: 200px;
    }
}


.hero-section {
    display: grid;
    place-content: center;
    min-height: 90vh;
    background: linear-gradient(rgba(1, 3, 10, 0.8), rgba(1, 3, 10, 0.8)), url(../img/heroImage.jpg);
    background-size: cover;
    color: hsl(0, 0%, 90%);
}

.hero-section2 {
    display: grid;
    place-content: center;
    min-height: 90vh;
    background: linear-gradient(rgba(1, 3, 10, 0.8), rgba(1, 3, 10, 0.8)), url(../img/services.jpg);
    background-size: cover;
    color: hsl(0, 0%, 90%);
}

.hero-section3 {
    display: grid;
    place-content: center;
    min-height: 90vh;
    background: linear-gradient(rgba(1, 3, 10, 0.8), rgba(1, 3, 10, 0.8)), url(../img/parallaxTree6.jpg);
    background-size: cover;
    color: hsl(0, 0%, 90%);
}

.hero-section4 {
    display: grid;
    place-content: center;
    min-height: 90vh;
    background: linear-gradient(rgba(1, 3, 10, 0.8), rgba(1, 3, 10, 0.8)), url(../img/parallaxTree9.jpg);
    background-size: cover;
    color: hsl(0, 0%, 90%);
}

.hero-section h1,
.hero-section2 h1,
.hero-section4 h1 {
    padding: 0.5em;
    font-size: 3.5rem;
    color: hsl(0, 0%, 90%);
}

.hero-section div p,
.hero-section2 div p,
.hero-section4 div p {
    margin: 0 auto;
    padding: 0.3em;
    font-size: 1.4rem;
    font-family: 'Urbanist', sans-serif;
    width: 45ch;
    line-height: 1.5;
    color: hsl(0, 0%, 85%);
}

@media screen and (max-width: 650px) {
    .hero-section,
    .hero-section2,
    .hero-section3,
    .hero-section4 {
        min-height: 90vh;
    }

    .hero-section h1,
    .hero-section2 h1,
    .hero-section3 h1,
    .hero-section4 h1 {
        font-size: 2.5rem;
    }

    .hero-section div p,
    .hero-section2 div p,
    .hero-section3 div p,
    .hero-section4 div p {
        font-size: 1.1rem;
        width: 100%;
    }

    .hero-btn a,
    .hero-btn2 a,
    .hero-btn3 a,
    .hero-btn4 a {
        font-size: 1.5rem;
    }
}

.hero-btn,
.hero-btn2,
.hero-btn3,
.hero-btn4 {
    display: flex;
    justify-content: center;
}

.insurance-info h2,
.about h2,
.services-wrapper h2,
.testimonial-wrapper h2,
.gallery-wrapper h2,
.contact-wrapper h2 {
    font-size: 3rem;
    text-align: center;
    color: hsl(120, 81%, 21%);
}

.insurance-info h3,
.about h3 {
    padding: 1em 0;
    text-align: center;
}

.insurance-info div p,
.about div p {
    padding: 0.5em 1em;
    font-size: 1.2rem;
    line-height: 1.5;
}

.insurance-info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.5;
}

@media screen and (min-width: 1280px) {
    .insurance-info div p,
    .about div p {
        width: 60ch;
        margin: 0 auto;
    }
}

.testimonial-btn {
    padding: 0.5em;
    font-size: 1.5rem;
    font-weight: bold;
    color: hsl(120, 81%, 21%);
    text-decoration: none;
}

.hero-btn a,
.hero-btn2 a,
.hero-btn3 a,
.hero-btn4 a {
    color: hsl(120, 84%, 24%);
    font-family: 'Urbanist', sans-serif;
    text-decoration: none;
    font-size: 2rem;
}

.contact-wrapper {
    display: grid;
    place-content: center;
}

.contact-wrapper h2 {
    padding: 0.5em 0 0.5em 0;
}

.testimonial-wrapper h2 {
    padding-top: 0.5em;
}

.gallery-wrapper h2 {
    padding-bottom: 10%;
}

/*
.scroll {
    position: absolute;
    width: 30px;
    height: 90px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -70%);
}
*/

/*
.scroll p {
    font-family: 'Urbanist', sans-serif;
}
*/

/*
.scrolldown {
    position: absolute;
    width: 30px;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 70px;
    background: hsl(0, 0%, 90%);
    animation: animate 2s linear infinite;
}
*/
/*
@keyframes animate {
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }

    100% {
        transform-origin: top;
        transform: scaleY(1);
    }
}
*/

/*
.hero-text,
.hero-text2,
.hero-text3,
.hero-text4 {
    padding: 0.5em;
}
*/

/*
.hero-text2 span,
.hero-text3 span,
.hero-text4 span {
    color: hsl(120, 81%, 21%);
}
*/