@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
.all-info {
    min-height: 100vh;
    padding-top: 7em;
}

.all-info h1 {
    padding: 0.5em;
}

.all-info h3 {
    padding: 0.5em;
    color: hsl(120, 81%, 21%);
}

.all-info article {
    padding: 0.5em;
}

.all-info article p {
    font-family: 'urbanist', sans-serif;
    line-height: 1.5;
}

@media screen and (min-width: 1280px) {
    article p {
        width: 96ch;
    }
}