@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

* {
    margin: 0;
}

body h2, body h1 {
    font-family: "Playfair Display", serif;
}

body p {
    font-family: "Roboto", sans-serif;
}

.logo {
    /*display*/
    display: grid;
    /*positioning*/
    place-content: center;
}

/*///////////////////PAGE 1////////////////////////////*/
.page-1 {
    /*display*/
    display: grid;
    place-content: center;
    /*positioning*/
    min-height: 50vh;
    /*box model*/
    background: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../img/card-1.jpg);
    background-size: 100% 100%;
    padding: 1em;
    /*typography*/
    color: hsl(0, 0%, 90%);
}

.page-1 h2 {
    /*typography*/
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: hsl(0, 0%, 92%);
}

.page-1 p {
    /*typography*/
    max-width: 30ch;
    color: hsl(0, 0%, 85%);
    line-height: 1.6;
}

.page1-btn {
    /*box model*/
    margin-top: 2em;
    padding: 1em;
    /*typography*/
    text-align: center;
    /*msc*/
    border: 1px solid hsl(0, 0%, 90%);
}

.page1-btn a {
    /*typography*/
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: hsl(0, 0%, 90%);
}

.page1-btn i {
    color: hsl(120, 100%, 25%);
}

.page-2 h1 {
    text-align: center;
}

.page-2 div {
    padding: 1em;
}

.page-2 p {
    line-height: 1.5;
}

.page-2 li {
    color: hsl(0, 0%, 10%);
}

.service-img {
    text-align: center;
}

@media (min-width: 1200px) {
    .page-2 div {
        min-height: 40vh;
    }

    .page-2 .service-txt {
        min-width: 30ch;
    }
}