@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

* {
  margin: 0;
}

body h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
}

body p {
  font-family: "Roboto", sans-serif;
}

.logo {
  display: grid;
  place-content: center;
}

/*///////////////////PAGE 1////////////////////*/

.page-1 {
  /*display*/
  display: grid;
  place-content: center;
  /*positioning*/
  /*min-height: 60vh;*/
  /*box model*/
  padding: 6em 1em;
  background: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../img/background-2.jpg);
  background-size: 100% 100%;
  /*typography*/
  color: hsl(0, 0%, 90%);
}

.page-1 h2 {
  /*typography*/
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.page-1 p {
  /*typography*/
  color: hsl(0, 0%, 80%);
  line-height: 1.6;
  width: 30ch;
}

.page1-btn {
  /*box model*/
  margin-top: 3em;
  border: 1px solid hsl(0, 0%, 90%);
  padding: 1em;
  /*typography*/
  text-align: center;
}

.page1-btn a {
  /*typography*/
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: hsl(0, 0%, 90%);
}

.page1-btn i {
  color: hsl(120, 100%, 25%);
}

/*///////////////////PAGE 2////////////////////*/

:is(.container-2, .container-3, .page-4) h2 {
  /*typography*/
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

:is(.page-2, .page-3) {
  /*display*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*box model*/
  padding: 1em;
}

:is(.page-2, .page-3) > * + * {
  margin: 2em 0 0 0;
}

@media (min-width: 1200px) {
  .page-2 {
    flex-direction: row;
  }

  .page-2 > * + * {
    margin: 0 0 0 2em;
  }

  .page-3 {
    flex-direction: row;
  }

  .page-3 > * + * {
    margin: 0 0 0 2em;
  }
}

/*///////////////////PAGE 4////////////////////*/

.page-4 h2 {
  margin-bottom: 1em;
}

.page-4 {
  /*display*/
  display: grid;
  place-content: center;
  /*box model*/
  padding: 1em;
}

.contact-form label + input {
  /*display*/
  display: block;
}

.contact-form * + div {
  /*box model*/
  margin: 1em 0;
}

.page-4 form {
  padding: 2em;
}


@media (min-width: 1200px) {

  .page-1 {
    background-size: 50% 100%;
  }
  .container-2 {
    height: 100vh;
    margin-top: 7em;
  }

  .container-3 {
    height: 60vh;
    margin-top: 7em;
  }
}